@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.newsize{
    max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
nav{
  
}
.div-body{
    background: rgb(131,58,180);
    background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.font-poppins{
  font-family: 'Poppins', sans-serif; 
}

.text-prime-gradient{
  background: #FA6C00;
background: radial-gradient(circle farthest-corner at center center, #FA6C00 40%, #CF1512 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size:105%;
}
.text-prime-gradient2{
  background: #FA6C00;
background: radial-gradient(circle farthest-corner at center center, #FA6C00 40%, #CF1512 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size:210%;
}

.text-prime .active:focus{
  color: #000 !important;
}

.text-prime .active{
  color: #FA6C00 !important;
}

.text-prime .active:hover{
  color: #000 !important;
}

.disabled .text-prime{
  color: #FA6C0099 !important;
}

/* # Mobile */
@media only screen and (max-width: 480px){
  .navbar-toggler{
    display: none;
  }
  .text-prime-gradient2{
    font-size:105%;
  }
}

/* # Tablet */
@media only screen and (min-width: 768px){

} 

/* # Desktop */
@media only screen and (min-width: 992px){
  .navbar-toggler{
    display: none;
  }
}

/* # Huge */
@media only screen and (min-width: 1280px){
  .navbar-toggler{
    display: none;
  }
}